#aboutGrid{
    display:grid;
    z-index:-1;
    grid-template-rows: repeat(1,1fr);
    grid-template-columns: 1fr 2fr;
}
.abtImg:hover{
    animation: big 0.6s forwards;
}
.abtImg:not(:hover){
    animation: small 0.6s reverse;
}
@keyframes big{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.05);
        box-shadow: 2px 4px 6px gray;
    }
}
@keyframes small{
    0%{
        transform: scale(1);
    
    }
    100%{
        transform: scale(1.05);
        box-shadow: 2px 4px 6px gray;
    }
}