.programGrid{
    display:flex;
    flex-flow:row wrap;
    width:100%;
    margin-top:5%;
    height:auto;
    box-sizing:border-box;   
    justify-content: space-around;
    align-items:center;
}
.containerImg{
    position:relative;
    flex: 0 0 calc(33.33%-20px);
    margin-top:1%;
    height:400px;
    width:auto;
}
#vertGrid{
    display:flex;
    flex-flow:column;
    width:100%;
    
}
.box{
    display:block;
    background-color:gray;
    width:50%;
    height:50%;
}